.App {
  text-align: center;
  background-color: #e0ffff;
  color: black;
  min-height: 100vh;
}

h1{
  margin: 0;
  padding-top: 3em;
}

p{
  margin: 0;
  padding: 1em;
  font-size: 100px;
}

.textBox{
  margin-bottom: 30px;
}
